{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <h1>Привет! Я студент ЯП.</h1>
    <div class="row">
        <div class="col-md-9">
            <div class="card-text">
                <p>
                    Нужна помощь??? пиши. Контакты:
                    <li class="list-group-item">
                        <div class="h6 text-muted">
                            <a class="p-2 text-dark" href="mailto:fenixzip@ya.ru">Mail.yandex</a>
                            <br>
                            <a class="p-2 text-dark" href="89366660304">Telegram</a>
                        </div>
                    </li>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
